{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ .Render "summary" }}

<div class="adj mrow">
  <div class="mcol c6">
    <header>Next Article</header>
    {{ with .NextInSection }}
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
  <div class="mcol c6">
    <header>Previous Article</header>
    {{ with .PrevInSection }}
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3868968729859777"
     crossorigin="anonymous"></script>
<!-- 新隠れ家横 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3868968729859777"
     data-ad-slot="9355593144"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ template "_internal/disqus.html" . }}
{{ end }}
